@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  font-family: sans-serif;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pagination {
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #1e50ff;
  border-radius: 50%;
}

.dark-active {
  @apply bg-blue-gray-500; /* Tailwind class for background color */
  @apply border-2; /* Tailwind class for border width */
  @apply border-darkColor; /* Tailwind class for border color */
  @apply rounded-full;
  @apply text-lightTextColor;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
